<app-nav-bar-simple></app-nav-bar-simple>
<div id="containerfilterShifts">
    <div id="filterShifts">
      <div>
        <input type="date" id="startDate" [(ngModel)]="startDate"/>
        <input type="date" id="endDate" [(ngModel)]="endDate"/>
        <button id="filterByDate" (click)="searchByDate()">Filter by Date</button>
      </div>
      <div>
        <input type="text" id="name" placeholder="Insert the shift name" [(ngModel)]="shiftsPlaceFilter" />
        <button (click)="searchByShiftWorkplace()" id="filterByName">Filter by Name</button>
      </div>
    </div>
    <button (click)="resetFilter()" id="resetFilter">Reset filter</button>
  </div>
  
  <div class="table-section">
    <div class="close-button">
        <input (click)="close()" class="closeButton" type="button" value="Close" />
      </div> 
      <div class="table-title">
        <h1>All users shifts</h1>
      </div> 
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col">Name worker</th>
            <th scope="col">Shift Slug</th>
            <th scope="col">Shift Place</th>
            <th scope="col">Date</th>
            <th scope="col">Start Hour</th>
            <th scope="col">End Hour</th>
            <th scope="col">Price Per Hour</th>
            <th scope="col">Earn/Shift</th>
            <th scope="col" *ngIf="!shiftsFiltered">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="!shiftsFiltered" >
          <ng-container *ngFor="let el of shifts">
            <tr *ngFor="let shift of el.shifts">
              <td scope="col">{{el.fName}} {{el.lName}}</td>
              <td scope="col">{{ shift.shiftSlug }}</td>
              <td scope="col">{{ shift.workplace }}</td>
              <td scope="col">{{ shift.shiftDate }}</td>
              <td scope="col">{{ shift.shiftStartTime }}</td>
              <td scope="col">{{ shift.shiftEndTime }}</td>
              <td scope="col">{{ shift.hourlyWage }}</td>
              <td scope="col">{{ shift.dailyPay }}</td>
              <td scope="col">
                <div class="table-buttons">
                    <input routerLink="/home/admin/editshift/{{el.uid}}/{{shift.shiftSlug}}" class="editShift" type="button" value="Edit"/>
                    <input (click)="delete(el.uid, shift.shiftSlug)" class="deleteShift" type="button" value="Delete" />
                </div>
            </td>
            </tr>
          </ng-container>

        </tbody>
        <tbody *ngIf="shiftsFiltered" >
          <ng-container *ngFor="let user of shiftsFiltered" >
            <tr *ngFor="let shift of user.shifts">
              <td scope="col">{{user.fName}} {{user.lName}}</td>
              <td scope="col">{{ shift.shiftSlug }}</td>
              <td scope="col">{{ shift.workplace }}</td>
              <td scope="col">{{ shift.shiftDate }}</td>
              <td scope="col">{{ shift.shiftStartTime }}</td>
              <td scope="col">{{ shift.shiftEndTime }}</td>
              <td scope="col">{{ shift.hourlyWage }}</td>
              <td scope="col">{{ shift.dailyPay }}</td>
              <td scope="col" *ngIf="!shiftsFiltered">
                <div class="table-buttons" >
                    <input routerLink="/home/admin/editshift/{{user.uid}}/{{shift.shiftSlug}}" class="editShift" type="button" value="Edit"/>
                    <input (click)="delete(user.uid, shift.shiftSlug)" class="deleteShift" type="button" value="Delete" />
                </div>
            </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br>
      <div class="reports" *ngIf="userWithMostShifts">
        <div class="reports-title"><h3>Reports:</h3></div>
    <div *ngIf="userWithMostShifts">
      <p>Number of shifts: <b>{{ userWithMostShifts.countShifts }}</b></p>
      <p>User(s) with most shifts:</p>
      <ul>
        <li *ngFor="let currentUser of userWithMostShifts.user">
          <p>Name: <b>{{ currentUser.fName }} {{ currentUser.lName }}</b></p>
          <p>Email: <b>{{ currentUser.email }}</b></p>

        </li>
      </ul>
    </div>
    <div *ngIf="mostProfitableMonth">
      <span>The most profitable month is: <b>{{ mostProfitableMonth?.month }} = {{ mostProfitableMonth?.earnings }}</b>.</span>
    </div>
    </div>


  </div>